:root {
    --primary: #fd8000;
    --secondary: #111111;
    --light: #dddddd;
    --medium: #888888;
    --dark: #303030;
    --black: #111111;
    --white: #ffffff;
    --border-radius: .25rem;
}

body {
    background-color: var(--dark);
    background-repeat: no-repeat;
}

#header-nav > .nav-item > a {
    color: white;
    text-shadow: 1px 1px var(--black);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: var(--border-radius);
}

#header-nav > .nav-item > a:hover {
    background-color: var(--primary);
}

.navbar {
    background-color: var(--black);
    font-weight: 600;
    letter-spacing: .5px;
    border-bottom: 1px solid var(--medium);
}

.brand-container {
    min-height: 200px;
    display: flex;
    align-items: center;
}

.nav-container {
    margin-bottom: 30px;
}

.nav-link.facebook-color {
    color: #3B5998 !important;
}

.nav-link.yt-color {
    color: #C4302B !important;
}

.nav-link.facebook-color:hover,
.nav-link.yt-color:hover {
    color: white !important;
}

.ads-container {
    background-color: var(--light);
    border-radius: var(--border-radius);
    margin-bottom: 30px;
    padding: 5px;
}

.categories-nav {
    background-color: var(--light);
    border-radius: var(--border-radius);
}

.categories-nav .nav-link {
    color: var(--dark);
    font-weight: 600;
    text-shadow: 1px 1px var(--white);
    text-transform: uppercase;
    border-bottom: 1px solid var(--white);
    margin: 0 10px;
    padding: 20px 0;
}

.categories-nav .nav-link:hover {
    color: var(--primary);
}

.categories-nav .nav-link img {
    width: 75px;
    height: 48px;
}

.categories-nav .nav-item {
    width: 100%;
}

.post {
    background-color: var(--light);
    border-radius: var(--border-radius);
    margin-bottom: 30px;
    padding: 5px;
}

.footer-container {
    margin-top: 30px;
    padding: 30px;
    background-color: var(--black);
    color: var(--light);
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

@media (max-width: 767.98px) {
    .mobile-menu {
        display: block;
    }
    .categories-nav {
        display: none;
    }
    .categories-nav.show {
        display: block;
    }
}
