:root {
    --primary: #fd8000;
    --primary-darken: #e27400;
    --secondary: #111111;
    --light: #dddddd;
    --medium: #888888;
    --dark: #303030;
    --black: #111111;
    --white: #ffffff;
    --border-radius: .25rem;
}

body {
    background-color: var(--dark);
    background-repeat: repeat-x;
    background-position-x: center;
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    color: var(--primary-darken);
}

#header-nav > .nav-item > a {
    color: white;
    text-shadow: 1px 1px var(--black);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: var(--border-radius);
    height: 100%;
}

#header-nav > .nav-item > a:hover {
    background-color: var(--primary);
}

#header-nav > .nav-item > a .fa-search {
    font-size: 20px;
}

.navbar {
    background-color: var(--black);
    font-weight: 600;
    letter-spacing: .5px;
    border-bottom: 1px solid var(--medium);
}

.brand-container {
    min-height: 200px;
    display: flex;
    align-items: center;
}

.brand img {
    max-width: 100%;
}

.nav-container {
    margin-bottom: 30px;
}

.nav-link.facebook-color {
    color: #3B5998 !important;
}

.nav-link.yt-color {
    color: #C4302B !important;
}

.nav-link.facebook-color:hover,
.nav-link.yt-color:hover {
    color: white !important;
}

.footer-ads-container,
.ads-container {
    background-color: transparent;
    border-radius: var(--border-radius);
    margin-bottom: 30px;
    padding: 5px;
    text-align: center;
    max-width: 100%;
}

.footer-ads-container {
    margin-top: 15px;
}

.categories-nav .nav-link {
    color: var(--light);
    font-weight: 600;
    text-shadow: 1px 1px var(--black);
    text-transform: uppercase;
    padding: 15px 10px;
    border-radius: var(--border-radius);
}

.categories-nav .nav-link:hover {
    color: var(--primary);
    background-color: var(--black);
    border-right: 4px solid var(--primary);
}

.categories-nav .nav-link img {
    max-width: 48px;
    margin-right: 10px;
}

.categories-nav .nav-item {
    width: 100%;
}

.status-msg-wrap,
.post {
    background-color: var(--light);
    border-radius: var(--border-radius);
    padding: 5px;
}

.status-msg-wrap {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 100%;
}

.status-msg-body a {
    text-decoration: none;
}

.status-msg-border {
    border: 0;
}

.post-carros table {
    margin: auto;
}

.post-carros table td {
    margin: auto;
    padding: 5px 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.post-carros table td img {
    max-width: 75px;
    min-height: 48px;
}

.post-title {
    font-size: 20px;
    background-color: var(--white);
    padding: 15px;
    border-left: 4px solid var(--primary);
    border-radius: var(--border-radius);
}

.post-title a {
    color: var(--black);
    text-decoration: none;
}

.post_conteudo .post_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post_conteudo .post_img img {
    width: 100%;
}

.post_conteudo .post_img .post_img1 {
    width: 100%;
    padding: 2px;
}

.post_conteudo .post_img .post_img2,
.post_conteudo .post_img .post_img3,
.post_conteudo .post_img .post_img4,
.post_conteudo .post_img .post_img5,
.post_conteudo .post_img .post_img6 {
    width: 25%;
    padding: 2px;
}

.post_conteudo .post_video2 {
    position: relative;
    padding-bottom: 52%;
    padding-top: 25px;
    height: 0;
    margin: 0;
}

.post_conteudo .post_video2 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

.post_conteudo .post_info {
    display: flex;
}

.post_conteudo .post_info .post_autor {
    width: 50%;
    margin-right: 5px;
}

.post_conteudo .post_info .post_subst {
    width: 50%;
}

.post_conteudo .post_video p,
.post_conteudo .post_info .post_autor p,
.post_conteudo .post_info .post_subst p,
.post_conteudo .post_install_modloader p,
.post_conteudo .post_desc p,
.post_conteudo .post_info2 p,
.post_conteudo .post_install p,
.post_conteudo .post_uso p {
    padding: 5px 10px;
    color: var(--black);
    font-size: 16px;
    width: 100%;
    background-color: #eaeaea;
    margin-top: 2px;
    margin-bottom: 0;
    border-radius: var(--border-radius);
}

.post_conteudo .post_video > p:first-child,
.post_conteudo .post_info .post_autor > p:first-child,
.post_conteudo .post_info .post_subst > p:first-child,
.post_conteudo .post_install_modloader > p:first-child,
.post_conteudo .post_desc > p:first-child,
.post_conteudo .post_info2 > p:first-child,
.post_conteudo .post_install > p:first-child,
.post_conteudo .post_uso > p:first-child {
    border-left: 3px solid var(--primary);
    padding: 3px 10px;
    color: var(--black);
    background-color: var(--white);
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0;
    border-radius: var(--border-radius);
}

.post_conteudo .post_downloads {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

.btn-download,
table .postDownload a,
.post_conteudo .post_downloads a {
    padding: 15px 30px;
    min-width: 200px;
    background-color: var(--primary);
    border-radius: var(--border-radius);
    text-align: center;
    color: var(--white) !important;
    text-shadow: 1px 1px var(--black);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

table .postDownload a:hover,
.post_conteudo .post_downloads a:hover {
    background-color: var(--primary-darken);
}

table .postVideo td,
table .postImagem1,
table .postImagem2 {
    text-align: center;
}

table .postVideo td iframe,
table .postImagem1 img,
table .postImagem2 img {
    max-width: 100%;
}

table .postDescricao td {
    padding: 15px 5px 5px;
}

table .postDownload td div {
    padding: 15px 0;
    text-align: center;
}

table .postDownload a span {
    display: none;
}

.date-header,
.post-footer-line-1,
.post-footer-line-2,
.post-feeds,
.blog-feeds {
    display: none;
}

.footer-container {
    margin-top: 30px;
    padding: 30px;
    background-color: var(--black);
    color: var(--light);
}

.mobile-menu {
    display: none;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--white);
    border-radius: var(--border-radius);
    padding: 15px 30px;
    margin-bottom: 15px;
    font-size: 24px;
    text-shadow: 1px 1px var(--black);
}

.mobile-menu i {
    margin-right: 15px;
}

.home-link {
    display: none;
}

.blog-pager {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px !important;
}

.blog-pager .pageNum {
    background-color: var(--light);
    color: var(--black);
    border-radius: var(--border-radius);
    margin: 0 5px;
    padding: 5px 15px;
}

.blog-pager .pageNum:hover {
    background-color: var(--primary);
    color: var(--white);
}

.blog-pager .current {
    background-color: var(--primary);
    color: var(--white);
}

.blog-pager .delimiter {
    padding: 0;
    background-color: transparent;
}

.blog-pager .delimiter:hover {
    background-color: transparent;
}

.blog-pager-newer-link,
.blog-pager-older-link {
    padding: 5px 20px;
    max-width: 100%;
    background-color: var(--primary);
    border-radius: var(--border-radius);
    text-align: center;
    color: var(--white);
    text-shadow: 1px 1px var(--black);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    display: inline-block;
    margin: 0 10px;
}

.blog-pager-newer-link:hover,
.blog-pager-older-link:hover {
    background-color: var(--primary-darken);
    color: var(--white);
}

#search {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
    transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
}

#search.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    z-index: 100;
    margin: 0;
}

#search .input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    height: 100px;
    margin: auto;
    max-width: 1000px;
}

#search .input .search {
    float: left;
    width: calc(100% - 100px);
    height: 100px;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
    line-height: 100px;
    text-indent: 50px;
    transition: all .3s ease-out;
}

#search .input .submit {
    cursor: pointer;
    float: left;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 100px;
    transition: all .3s ease-out;
}

#search .input .search:focus, #search .input .submit:hover {
    color: rgba(255, 255, 255, 0.8);
}

#search #close {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    line-height: 50px;
}

@media (max-width: 767.98px) {
    .mobile-menu {
        display: flex;
        align-items: center;
    }

    .categories-nav {
        display: none;
    }

    .categories-nav.show {
        display: block;
    }

    .categories-nav {
        background-color: var(--light);
        border-radius: var(--border-radius);
    }

    .categories-nav .nav-link {
        color: var(--dark);
        text-shadow: 1px 1px var(--white);
        padding: 15px 10px;
        border: 1px solid var(--white);
    }

    .categories-nav .nav-link:hover {
        color: var(--primary);
        background-color: var(--light);
        border-right: 0;
    }
}
